---
---

<div class="card-container">
    <section class="card-image"></section>
    <section class="card-text">
      <p>this is some subtext under an illustration or image.</p>
    </section>
</div>

<style>
  .card-container {
    width: 150px;
    height: 230px;
    text-align: center;
  }

  .card-image {
    height: 70%;
    border-radius: 10px;
    border: 3px solid dodgerblue;
  }

  .card-text {
    color: #202020;
    font-size: 0.9em;
  }
</style>
