---

---

<footer class="footer-container">
  <section class="footer-content">
    <p>Copyright &copy; André Martí Pérez Torres</p>
  </section>
</footer>

<style>
  .footer-container {
    background-color: #1F2937;
    color: #fff;
    padding: 1.5rem;
    text-align: center;
  }

  .footer-content {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .footer-content p {
    margin: 0;
  }
</style>