---
---
<nav class="navbar-container">
  <div class="navbar-content centered">
    <section class="navbar-logo">
      <h1>Header logo</h1>
    </section>
    <section class="navbar-items">
      <a href="/">header link one</a>
      <a href="/">header link two</a>
      <a href="/">header link three</a>
    </section>
  </div>
</nav>

<style>
  .navbar-container {
    width: 100%;
    height: auto;
    background-color: #1F2937;
    padding: 1rem 0;
    position: sticky;
    top: 0;
  }

  .navbar-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .navbar-items {
    display: flex;
    gap: 1rem;
    padding: 1rem 0;
  }
</style>
